.don{
    width: 250px;
    height: 40px;
    border-radius: 15px;
}
.btn{
    width: 250px;
    height: 40px;
    font-size: larger;
    background-color: blue;
    color: white;
    border-radius: 15px;
}
.hor{
    color: blue;
}

.bor{
    width: 200px;
    height: 40px;
    background-color: limegreen;
    color: white;
    border-radius: 15px;
}